* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(251, 240, 255);
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.gif {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
    object-fit: contain;
    /* Para asegurarse de que la imagen cubra el contenedor */
    margin-bottom: -10px;
    margin-top: -10px;
    /* Espaciado entre las imágenes y los botones */
}

button {
    display: block;
    margin-top: -100px;
    cursor: pointer;
    border: none;
    background: none;
    text-align: center;

}

.clickmusic {
    padding-bottom: 10vw;
    margin-top: -80vw;
    display: block;
    justify-content: center;
    align-items: center;
}

#gif5 {
    margin-bottom: -30px;
}

#gif6 {
    margin-bottom: -30px;
    margin-top: -30px;
}

#gif7 {
    margin-bottom: -30px;
    margin-top: -30px;
}

#gif8 {
    margin-bottom: -30px;
}

#gifprincipal {
    margin-bottom: -30px;
}


a {
    font-size: 20px;
    color: transparent;
}

.contenedor1 {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
    object-fit: contain;
}

.svg-movimiento {
    position: absolute;
    top: 1%;
    left: 1%;
    animation: rotar 30s linear infinite;
    display: block;
    justify-content: center;
    align-items: center;
}

@keyframes rotar {
    0% {
        transform: rotate(0deg);
        /* Comienza sin rotación */
    }

    100% {
        transform: rotate(360deg);
        /* Gira 360 grados en sentido horario */
    }
}